<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Goals</title>
</head>
<body>
  <%- include('./includes/nav.ejs', {token})%>
  <header>
    <h1>Goals</h1>
  </header>
  <main>
    <% goals.forEach((goal)=> {%>
      <div class="goal-container">
        <h2 class="goal-description"><%= goal.description%></h2>
        <p class="goal-deadline">Deadline: <%= goal.deadline%></p>
        <p class="goal-completed">Completed: <%= goal.completed%></p>
        <p class="goal-priority">Priority: <%= goal.priority%></p>
        <p class="goal-category">Category: <%= goal.category%></p>

        <button><a href="/api/goals/<%=goal.id%>">Details</a></button>


      </div>

    <%})%>
  </main>
  
</body>
</html>